* {
  margin: 0;
  padding: 0;
  /* box-sizing: inherit; */
}

html {
  font-size: 62.5%;
  /* box-sizing: border-box; */
}

body {
  font-family: "Numito", sans-serif;
  background-color: #dae0ea;
  margin: 0 4rem;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.blip {
  max-width: 1000px;
  margin: 10rem auto;
  position: relative;
}

.blip::before {
  content: "";
  width: 150px;
  height: 150px;
  position: absolute;
  top: -75px;
  left: -50px;
  border-radius: 5px;
  background-color: #c7d0e0;
  z-index: -1;
}

.blip__content {
  margin-bottom: 6rem;
}

.blip__heading {
  font-size: 4.7rem;
  margin-top: 7.5rem;
  margin-bottom: 1.5rem;
}

.blip__text {
  font-size: 2.2rem;
  margin: 3rem 0;
}

.blip__link {
  font-size: 1.8rem;
  font-weight: 700;
  padding: 2rem 2.5rem;
  background-color: #1a63dd;
  color: #fff;
  border-radius: 5px;
  display: inline-flex;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: auto;
  
}

.blip__gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    ". ."
    "bigimg bigimg";
  grid-gap: 2rem;
}

.blip__img {
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 5px;
  height: 15rem;
  width: 100%;
}

.blip__img:nth-child(3) {
  grid-area: bigimg;
}

@media only screen and (min-width: 37.5em) {
  

  .blip__link {
    display: inline-flex;
  align-self: flex-start;
  }

  .blip__gallery {
    grid-template-areas:
      "bigimg ."
      "bigimg .";
  }

  .blip__img {
    height: 100%;
    /* width: 100%; */
    /* aspect-ratio: 1/1; */
    object-fit: cover;
  }

  .blip__img:nth-child(3) {
    grid-area: unset;
  }

  .blip__img:nth-child(1) {
    grid-area: bigimg;
  }
}

@media only screen and (min-width: 64em) {
  .blip {
    margin-top: 20rem;
    display: flex;
    justify-content: space-between;
    gap: 8rem;
  }

  .blip::before {
    top: 0px;
  }

  .blip__link {
    margin-top: auto;
  }

  .blip__content {
    flex: 2;
    display: flex;
    flex-direction: column;
  }

  .blip__content {
    margin-bottom: 0;
  }

  .blip__gallery {
    flex: 1;
  }
}


/* html {
  font-size: 62.5%;
}

body {
  font-family: 'Arial', sans-serif;
}

section {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,150px);
  grid-template-areas: 
    "green green blue"
    ". . camp2"
    "red red camp2";
  gap: 1em;
}

section > * {
  border-radius: .7em;
}

img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  height: 100%;
}

.green {
  background-color: #C7EFC0;
  grid-area: green;
}
.blue {
  background-color: #C0E7EF;
}
.yellow {
  background-color: #EFEAC0;
}
.camp2 {
  grid-area: camp2;
}
.red {
  grid-area: red;
  background-color: #EFC9C0;
  padding: 3.4em;
}
h1 {
  font-size: 2rem;
  margin-bottom: -10px;
}
p {
  font-size: 1.5rem;
}

@media only screen and (min-width: 500px) {

  h1 {
    margin-top: 0;
  }
  

section{
  grid-template-areas: 
    "green green green"
    "blue . camp2"
    "red . camp2";
}

.green{
  grid-area: green;
}
  
  .red{
    grid-area:red;
  }

} */